*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #181818;
}
a{
    text-decoration: none;
    color: #aaaaaa;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #202020;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 160px;
}
.nav-middle{
    position: fixed;
    right: 12px;
    top: 4px;
    z-index: 100;
    width: 300px;
}
/* -------------main--------------- */
.container{
    background: #181818;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 2%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top:  15px;
}
.vid-list 
{
    border-radius: 5px;
}
.vid-list:active {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); 
}
.vid-list:hover
{
    background: #3b3b3b;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vid-info{
    /* index中下面颜色 */
    color: #aaaaaa; 
}
#vid-title
{
    color: #ededed;
    font-size: 1.2rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    word-break:break-all;
    white-space:normal;
}
.vid-info a{
    color: #ededed;
    font-weight: 600;
    margin-bottom: 5px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    font-size: 0.9rem;
}
.box-vid-info{
    color: #aaaaaa;
    font-size: 13px;
}
.box-vid-info a{
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media(max-width:900px){
    .menu-icon{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .container,.large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .nav-middle .search-box input{
        width: 100%;
    }
    .mic-icon{
        display: none;
    }
    .logo{
        width: 90px;
    }
}

/* -------------------play video page-------------------- */
.play-container{
    padding-left: 2%;
    /* padding-right: 2%; */
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 70%;
}
.right-sidebar{
    padding-left: 1%;
    flex-basis: 25%;

    /* background-color: #f9f9f9; */
    /* min-height:300px;
    overflow-y:auto;
    max-height:800px;
    overflow-x: hidden; */
}

.right-sidebar #sidebar1{
    /* padding-left: 1%;
    flex-basis: 25%; */
    /* background-color: #f9f9f9; */
    overflow-y:auto;
    overflow-x: hidden;
    /* border:solid 2px rgb(189, 187, 187); */
    border-bottom: none;
    background-color: #181818;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s;
    border: 1px solid #353535;
}
.right-sidebar #sidebar1 .side-video-list{
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.12);
	transition: all .3s;
    /* background-color: #202020; */
}
.right-sidebar #sidebar1 .side-video-list:hover{
    background-color: #3b3b3b;
}
.siderbardisplay
{   
    display: none;
}
.right-sidebar button
{
    width: 100%;
    height: 30px;
    background-color: #202020;
    border: 0;
    cursor:pointer;
    border: 1px solid #353535;
    color: #ededed;
}
.right-sidebar #sidebar2{
    /* padding-left: 1%;
    flex-basis: 25%; */
    /* background-color: #f9f9f9; */
    padding-top: 5%;
    /* min-height:300px;
    overflow-y:auto;
    max-height:800px;
    overflow-x: hidden; */
}
.fitVids-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
.fitVids-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12);
	transition: all .3s
  }
/* .play-video video{
    width: 100%;
} */
.play-video iframe{
    width: 100%;
}
.side-video-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    border-radius: 5px;
    /* border: 1px solid #ddd; */
    cursor: pointer;
    background-color: #f6f6f6'
}
.side-video-list:active
{
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8); 
}
.side-video-list:hover
{
    background-color:#3b3b3b
}
.side-video-list_click
{
    background-color:#3b3b3b
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}
.side-video-list .box-small-thumbnail{
    width: 40%;
    height: 100%;
    border-radius: 5px;
}
.side-video-list p{
    padding-left: 4px;
}
.side-video-list .vid-info{ 
    flex-basis: 48%;
}
.side-video-list .box-vid-info{ 
    flex-basis: 50%;
    color: #aaaaaa;
    font-size: 13px;
}
.vid-info p{
    /* padding-left: 10px; */
    font-size: 0.8rem;
}
.box-vid-info p{

    /* font-weight: 600; */
    font-size: 0.08rem;
    color: #aaaaaa;
}
.side-video-list .right-box-fileindex
{
    color: #ededed;
}
.side-video-list .box-vid-info a{
    /* padding-left: 10px; */
    font-weight: 600;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break:break-all;
    white-space:normal;
    color: #ededed;
}
.side-video-list .vid-info a{
    /* padding-left: 10px; */
    font-weight: 600;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break:break-all;
    white-space:normal;
}
.side-video-list .vid-info p{
    padding-left: 10px;
    font-size: 0.8rem;
}
.play-video .tags a{
    color: #33a6f1;
    font-size: 13px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
}
.play-video .play-video-info{
    display: flex;
    align-items:center;
    justify-content: left;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    font-size: 14px;
    color: #aaaaaa;
}
.play-video .play-video-info p{
    /* align-items:center; */
    padding-left: 3px;
    /* display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap; */
    margin-top: 10px;
    font-size: 14px;
    color: #aaaaaa;
}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #353535;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
} 
.publisher div p a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
}
.publisher div span{
    font-size: 13px;
    color:#aaaaaa
}
.publisher button{
    color: #000;
    font-weight: 600;
    font-size: 18px;
    outline: 0;
    border: 0;
    background: #f9f9f9
    /* background: red;
    color: rgb(0, 0, 0);
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    */
    /* cursor: pointer;  */
}
.vid-description{
    padding-left:  55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #ededed;
}
.vid-description h4{
    font-size: 14px;
    color: #ededed;
    margin-top: 15px;
}
/* -------------------评论------------------- */
.comment.v
{
    align-items: center;
    margin: 20px 0;
}
/* .comment.v .vempty
{
    display: none;
} */
.comment.v .vpower.txt-right
{
    display: none;
}
/* .add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #aaaaaa;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .acomment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.old-comment .acomment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .acomment-action span{
    margin-right: 20px;
    color:#aaaaaa;
}
.old-comment .acomment-action a{
    color:#0000ff
} */
/* ----------------------缩小屏幕------------------------- */
@media(max-width:1500px)
{
    .play-video{
        flex-basis: 65%;
    }
    .right-sidebar{
        padding-left: 1%;
        flex-basis: 30%;
    }
    .side-video-list .vid-info p{
        padding-left: 10px;
        font-size: 0.7rem;
    }
}
@media(max-width:1100px)
{
    .play-video{
        flex-basis: 61%;
    }
    .right-sidebar{
        padding-left: 1%;
        flex-basis: 34%;
    }
    .box-vid-info p{

        display: none;
    }
}
@media(max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
    .nav-middle{
        right: -100%;
    } 
}
/* --------------点赞------------ */
.play-video .play-video-info #canvas1{
    width: 25px;
    /* height: 25px; */
    /* background-color: rgb(218, 13, 13); */
    /* border: 5px solid green; */
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video .play-video-info #canvas2{
    width: 25px;
    /* height: 25px; */
    /* border: 5px solid green; */
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
/* ---------------search--------------- */
.open-nav-middle
{
    position: fixed;
    left: 1%;
    top: 4px;
    z-index: 100;
    width: 98%;
}
.nav-middle #myInput {
    width: 100%; 
    font-size: 16px; /* 加大字体 */
    padding: 12px 20px 12px 40px; 
    border: 1px solid #303030; 
    margin-bottom: 12px; 
    margin-top: 4px;
    outline: 0;
    border-radius: 5px;
    background-color: #121212;
}
input {
    color: #ededed;
  }
  input::first-line {
    color: #ededed;
  }
.nav-middle .search-icon{
    /* width: 100%;  */
    margin-top: 18px;
    margin-left: 10px;
    width: 22x;
    height: 22px;
    position: fixed;
    z-index: 101;
    color: #ededed;
}
#myUL {
    /* 移除默认的列表样式 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    overflow: hidden;
    zoom: 1;
    /* min-height:300px; */
    overflow-y:auto;
    max-height:600px;
    background-color: #ededed;
}
#myUL li{
    display: none;
}
#myUL li a{
    border: 1px solid #ddd;  /*链接添加边框 */
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none;
    font-size: 15px; 
    color: rgb(0, 0, 0); 
    display: block; 
}

/* #myUL li a.header {
    background-color: #e2e2e2; 
    cursor: default; 
} */

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

/* --------------------滚动----------------------- */
/* #myUL{
    min-height:300px;
    overflow-y:auto;
    max-height:600px;
}  */
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
 ::-webkit-scrollbar
 {
     width: 5px;
     height:16px;
     background-color:#181818;
 }
 /*定义滚动条轨道
  内阴影+圆角*/
 ::-webkit-scrollbar-track
 {
     /* -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
     border-radius:10px;
     background-color:#F5F5F5; */
 }
 /*定义滑块
  内阴影+圆角*/
 ::-webkit-scrollbar-thumb
 {
     border-radius:10px;
     -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
     background-color:#aaaaaa;
 }

 /* ------------------评论--------------------- */
 .comment .vpanel .vwrap
 {
    border: 1px solid #303030;
 }
 .comment .vpanel .vwrap .vrow button
 {
     border: 1px solid #303030;
     color: #ededed;
     background-color: #303030;

 }
 .v[data-class=v] .vcards .vcard .vh .vmeta .vat
 {
     color: #33a6f1;
 }
 .comment .vcount
 {
     color: #ededed;
 }
 #veditor {
	background-image: url(images/commitsBg.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}
#veditor:focus{
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}
.comment .vheader .vnick {
    flex-basis: 49%;
}

.comment .vheader .vmail {
    flex-basis: 49%;
}
.vheader
{
    display: flex;
    justify-content: space-between;
}
.comment .vheader .vlink {
   display: none;
}
.comment .vcards .vcard {
	padding: 15px 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .12);
	transition: all .3s;
    border: 1px solid #303030;
}

.comment .vcards .vcard:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}
.comment .vcards{
	color: #ededed;
}
.comment .vcards .vcard .vh .vcard {
	border: none;
	box-shadow: none;
}

img.vimg {
    transition: all 1s   /* 旋转时间为 1s */
}

img.vimg:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}